{% include 'navbar.html' %} 
{% load static %} 
{% block content %}

<div class="formulario">

    <div class="row">
        <h1 class="titulo">Reservas</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}

            {{ formset.management_form }}
            <h3>Servicios</h3>

            <table class="table table-striped table-hover">
                <thead class="bg-dark text-light">
                    <th>Id</th>
                    <th></th><th></th><th></th>
                    <th>¿Borrar?</th>
                </thead>
                <tbody>
                {% for form in formset %}
                <tr>
                    <td>{{ form.id.value }}</td>
                    {% for field in form %}
                        <td>{{ field }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="totales">
                <h3>Totales</h3>

                <p><strong>Precio Cabaña: </strong> {{ reserva.cabania.precio}}</p>
                <p><strong>Cantidad Dias: </strong>{{ cantidad_dias }}</p>
                <p><strong>Total Cabaña: </strong>{{ total_cabania }}</p>
                <p><strong>Total Servicios: </strong>{{ total_servicios }}</p>
                
                <div><p><strong>Total Reserva: </strong>{{ total_reserva}}</p></div>
            </div>

            <div class="contenedorBotones">
                <button class="botonSecundario" type="submit">Guardar</button>
                <a class="botonSecundario" href="{% url 'lista_reservas' %}">Cancelar</a>
            </div>

        </form>
    </div>

</div>

{% endblock %} 