{% extends 'base.html' %}

{% block content %}
    {% include 'navbar.html' %}

    <div class="contenedor">
        <div class="row">
            <h2 class="col display-4 my-3">Disponibilidad de Cabañas</h2>
            <div class="col d-flex justify-content-end align-items-end mb-3">
                <form method="GET">
                    <div class="input-group">
                        <input type="text" id="search" class="form-control inputApagado" name="q" value="{{ query }}" placeholder="Buscar Reserva...">
                        <button class="lupa" type="submit"><span class="material-symbols-outlined">search</span></button>
                    </div>
                </form>
            </div>
        </div>

        <table class="table table-striped table-hover" id="results">
            <thead>
                <tr>
                    <th>Cabaña</th>
                    <th>Disponibilidad</th>
                    <th>Día de Entrada</th>
                    <th>Día de Salida</th>
                    <th>Nombre del Cliente</th>
                </tr>
            </thead>
            <tbody>
                {% for reserva_info in disponibilidad_cabañas %}
                    <tr>
                        <td>{{ reserva_info.cabaña.nombre }}</td>
                        <td>{% if reserva_info.disponible %}Disponible{% else %}No Disponible{% endif %}</td>
                        <td>{% if reserva_info.dia_entrada %}{{ reserva_info.dia_entrada }}{% else %}-----{% endif %}</td>
                        <td>{% if reserva_info.dia_salida %}{{ reserva_info.dia_salida }}{% else %}-----{% endif %}</td>
                        <td>{% if reserva_info.nombre_cliente %}{{ reserva_info.nombre_cliente }}{% else %}-----{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
