{% include 'navbar.html' %} 
{% block content %}
 <div class="contenedor-tabla">
    <h2 class="titulo">Reservas</h2>
    <div class="d-flex justify-content-end align-items-end"><a class="btn btn-outline-primary" href="/reservas/reservaNuevo/">Añadir Reserva</a></div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Complejo</th>
                <th>Cabaña</th>
                <th>Servicios</th>
                <th>Día de Entrada</th>
                <th>Día de Salida</th>
                <th>Seña</th>
                <th>Precio</th>
            </tr>       
        </thead>
        <tbody>
            {% for reserva in reservas %} 
            <tr>
                <td><a href="{% url 'detalle_reserva' reserva.id %}">{{ reserva.cliente.apellido_nombre }}</a></td>
                <td>{{ reserva.complejo }}</td>
                <td>{{ reserva.cabania }}</td>
                <td><a href="{% url 'serviciosReserva' reserva.id %}">ver detalle</a></td>
                <td>{{ reserva.diaEntrada }}</td>
                <td>{{ reserva.diaSalida }}</td>
                <td>{{ reserva.seña }}</td>
                <td>{{ reserva.precio }}</td>    
                <td class="d-flex justify-content-end align-items-end"><a class="btn btn-outline-secondary" href="/reservas/reservaModif/{{ reserva.id }}">Modificar</a></td>
                <td><a class="btn btn-outline-secondary" href="/reservas/reservaBorrar/{{ reserva.id }}">Borrar</a></td>
            </tr>
            {% endfor %} 
        </tbody>
    </table>
</div>

{% endblock %} 