{% load static %} 
{% block content %} 

    {% include 'navbar.html' %} 

<div class="contenedorCard">
    <div class="maincard" id="card1">
        <h1>Gestiona</h1>
        <span class="material-symbols-outlined">
            monitoring
        </span>
    </div>
    <div class="maincard" id="card2">
        <h1>Finanzas</h1>
        <span class="material-symbols-outlined">
            request_quote
        </span>
    </div>
    <div class="maincard" id="card3">
        <h1>Clientes</h1>
        <span class="material-symbols-outlined">
            groups
        </span>
    </div>
    <div><a class="maincard" href="{% url 'hospedaje' %}"><h1>Hospedaje</h1><span class="material-symbols-outlined">
        home</span></a>
    </div>
</div>
{% endblock %}